#file-src {
    max-height: 200px;
    object-fit: cover;
}

#file-holder {
    position: sticky;
    top: 6.25rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
