{{#*inline "additionalAttrs"}}class='has-navbar-fixed-top'{{/inline}}

{{> header title="Login" bodyAttrs="additionalAttrs" }}

<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="." title="Back to home" class="navbar-item subtitle is-marginless">
                Liftpush
            </a>
        </div>
    </div>
</nav>

<div class="section" id="index-banner">
    <div class="columns">
        <div class="column is-one-third-desktop is-offset-one-third-desktop">
            <div class="card">
                <div class="card-content">
                    <p class="subtitle">
                        Login
                    </p>

                    {{#if error}}
                        <article class="message is-danger">
                            <div class="message-body">
                                Invalid username and/or password.
                            </div>
                        </article>
                    {{/if}}

                    <form id="login-form" method="post" action="login">
                        <div class="field">
                            <label class="label" for="username">Username</label>
                            <div class="control">
                                <input id="username" name="username" type="text" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control">
                                <input id="password" name="password" type="password" class="input">
                            </div>
                        </div>
                        <div class="control">
                            <button class="button is-primary" form="login-form">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer }}
